language: android
jdk: oraclejdk7
sudo: false
env:
  global:
  - GRADLE_OPTS="-Xmx512m -XX:MaxPermSize=512m"
  - ADB_INSTALL_TIMEOUT=10

android:
  components:
    - android-23
    - build-tools-23.0.1
    - sys-img-armeabi-v7a-android-19
    - extra-android-m2repository

before_script:
  - echo no | android create avd --force -n test -t android-19 --abi armeabi-v7a
  - emulator -avd test -no-skin -no-audio -no-window &
  - android-wait-for-emulator
  - adb shell input keyevent 82 &

script:
  - ./gradlew clean connectedAndroidTest

after_success:
    - ./gradlew coveralls
